<% content_for(:title, "Links | Hacker Clone") %>

<h1>Links</h1>
<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.name, url_for(link.url)%>
        <ul><li>by <%=link.user.name%></li></ul>
    </li>
  <%end%>
</ul>
